@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  font-family: poppins;
  margin-top: 100px;
}

.head {
  margin: 70px;
  margin-top: 100px;
  text-align: left;
}

.auth-form-container {
  padding: 1.5rem;
  border: 1px solid rgb(177, 173, 173);
  border-radius: 10px;
  margin: 70px;
  width: 500px;
}

.body {
  text-align: left;
  margin-top: -30px;
}

.links {
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  font-size: large;
  color: rgb(102, 98, 98);
  align-items: center;
}

.link1 img {
  height: 40px;
  width: auto;
  margin-top: -12px;
  margin-right: 5px;
}

.link2 img {
  height: 40px;
  width: auto;
  margin-top: -10px;
}

.link3 img {
  height: 40px;
  width: auto;
  margin-top: -2px;
}

.verticle-line {
  display: block;
  width: 1px;
  height: 40px;
  margin-top: -10px;
  background-color: #c9c9c9;
}

.balance {
  margin: 70px;
}

.hover {
  background-color: rgb(54, 53, 53);
  color: white;
  display: inline-block;
  height: 50px;
  width: auto;
  border-radius: 10px;
  text-align: justify;
  margin: 10px;
  padding: 7px;
}

span {
  display: inline-block;
  margin-top: 27px;
  margin-left: 10px;
}

.credit {
  display: flex;
  flex-direction: row;
}

.dollars {
  margin-top: -50px;
}